@import 'tailwindcss';
/* @import 'tw-animate-css'; */

@custom-variant dark (&:is(.dark *));
@plugin "tailwindcss-animate";
@config "../tailwind.config.js";

/* @import 'tailwindcss/preflight'; */
@tailwind utilities;

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  :root {
    /* Beautiful gradient colors */
    --primary-100: #ffbb94;
    --primary-200: #fb9590;
    --primary-300: #dc586d;
    --primary-400: #a33757;
    --primary-500: #852e4e;
    --primary-600: #4c1d3d;
  }
}

.active-navbar {
  border-color: var(--primary-300);
  color: var(--primary-300);
}

/*  */
.no-scrollbar::-webkit-scrollbar {
}
.no-scrollbar {
  -ms-overflow-style: none; /* Ẩn scrollbar trên IE, Edge */
  scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
}
