@import 'tailwindcss';

@theme {
  /* Khai báo hệ màu primary mới cho v4 */
  --color-primary-100: #ffbb94;
  --color-primary-200: #fb9590;
  --color-primary-300: #dc586d;
  --color-primary-400: #a33757;
  --color-primary-500: #852e4e;
  --color-primary-600: #4c1d3d;

  /* Định nghĩa class 'primary' mặc định (tương đương DEFAULT) */
  --color-primary: var(--color-primary-500);
}

@layer base {
  #root {
    font-family: 'Inter', sans-serif;
  }
}
